.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gameover{
  position: absolute;
  bottom: 18%;
}

.game-container {
  border: 3px solid black;
}

header {
  position: fixed;
  top: 10%;
}

button {
  position: absolute;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

button.res-btn {
  position: absolute;
  bottom: 15%;
}

button.res-btn:hover {
  background-color: #218838;
}

button.norm-btn {
  position: absolute;
  bottom: 15%;
  background-color: #218838;
}

button.norm-btn:hover {
  background-color: #218838;
}

button.pause-btn {
  position: absolute;
  bottom: 15%;
  background-color: #dc3545;
}

button.pause-btn:hover {
  background-color: #c82333;
}

.scoreDiv{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.score{
  position: relative;
  padding: .2rem;
}